{#
Each element under markup.sanitizer can have the following keys:
;ELEMENT = span
;ALLOW_ATTR = class
;REGEXP = ^(info|warning|error)$
#}
;; From ansible jinja template markup_sanitizer.j2

{% if forgejo_markup is defined and forgejo_markup.sanitizer is defined and
      forgejo_markup.sanitizer is mapping and forgejo_markup.sanitizer | count > 0 %}
  {% for k, v in forgejo_markup.sanitizer.items() %}
    {% if v is mapping and v | count > 0 %}
[markup.sanitizer.{{ k }}]
      {% for k2, v2 in v.items() %}
{{ k | upper }} = {{ v2 }}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}
