{{ ansible_managed | comment }}

[Unit]
Description       = Forgejo Web Socket
PartOf            = forgejo.service

[Socket]
Service           = forgejo.service
ListenStream      = {{ forgejo_server.http_port }}
NoDelay           = true

[Install]
WantedBy          = sockets.target
